fastapi
uvicorn
tortoise-orm
aerich
redis>=4.5.4
tomlkit
asyncpg
pydantic
PyJWT==2.8.0
python-dotenv
python-jose
passlib[bcrypt]
python-multipart
email-validator
fastapi-admin[tortoise]==1.0.4  # ✅ Stable version
pydantic-settings