fastapi
uvicorn
tortoise-orm
aerich
tomlkit
asyncpg
pydantic
PyJWT==2.8.0
python-dotenv
python-jose
passlib[bcrypt]
python-multipart
email-validator
fastapi-admin==1.0.4
redis==4.6.0
pydantic-settings